@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

@theme {
	--font-oswald: "Oswald", sans-serif;
	--font-open-sans: "Open Sans", sans-serif;
	--color-primary: #162b6f;
}

@layer components {
	.default-button {
		@apply my-12 inline-block bg-white px-4 py-2 text-primary rounded hover:bg-[#cd3700] hover:text-white transition-all font-bold;
	}
}
